@import '../../styles/variables';

.filterBtn_container {
    background-color: rgba($color: $filterTablets, $alpha: 1.0);
    border: none;
    border-radius: 5px;
    margin: 5px 5px ;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: $mainFont;
    font-weight: bolder;
    color: rgba($color: $primaryCyan, $alpha: 1.0);
    font-size: 0.7rem;
    padding: 6px;
    
    &:hover {
        background-color: rgba($color: $primaryCyan, $alpha: 1.0);
        
        color: rgba($color: $filterTablets, $alpha: 1.0);
        
    }
    
}
.filterBtn_active {
    background-color: rgba($color: $primaryCyan, $alpha: 1.0);
   
        color: rgba($color: $filterTablets, $alpha: 1.0);
    
}