@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;500;700;800&display=swap');
// Layout

$mobile: 375px;
$desktop: 1440px;

// Colors

$primaryCyan: hsl(180, 29%, 50%);

$background: hsl(180, 52%, 96%);
$filterTablets: hsl(180, 31%, 95%);
$darkCyan:hsl(180, 8%, 52%);
$darkestCyan: hsl(180, 14%, 20%);

// Fonts 

$mainFont: 'Spartan', sans-serif,